{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NFL Search</title>

    <link rel="stylesheet" href="{% static 'css/kube.css' %}" media="screen" title="no title">

    <style media="screen">
      body {
        padding: 1em;
        background-color: silver;
      }
      .player {
        color: black;
      }
      img{
        height: 400px;
        width: 575px;
      }
      .title {
        text-align: center;
        text-decoration: underline;
      }
      .bordered {
        background-color: white;
      }
    </style>
  </head>
  <body>

    {% block content %}
    {% endblock %}

  </body>
</html>
